
<div class = "container" style="text-align: center; margin: 20px;">
  <h1> You have successfully signed up! </h1>
  <h3>You are now officially one of us </h3>
  <a href = "/"><img src = "http://i.giphy.com/l0MYC0LajbaPoEADu.gif" alt = "welcome to the club"></a>
</div>
