<div class="main">
  <div class="container">
    <h1>Hallo Danie :) </h1>
    <p><img src="http://s2.quickmeme.com/img/89/890476d8e35598cbaaaef949fe020ebf1fd13bff864e1a8faa5f8c5aa459c439.jpg" alt="bob" ></p>
  </div>
</div>