
<div class="jumbotron">
      <div class="container">
        <h1>Find live music in Berlin</h1>
        <p>Weil du wunderbar bist.</p>
      </div>
    </div> 
<div class = "row">
    <div class = "container">
<% @concerts.each do |concert| %> 

    <div class="col-md-3">
		<div class="concert"> 
  			<p class="title"><%= concert.title %></p> 
			<p class="description"><%= concert.description %></p>  
		</div> 
	</div>
<% end %>
</div>
</div>
