/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.nav{
  background-color: #1A0C25;
}
.navbar-default .navbar-nav>li>a {
  color: white;
}
.navbar-default .navbar-brand {
  color: white;
}
.nav li {
  display: inline;
  font-size: 16px;
  font-weight: bold;
  padding: 16px;
}
.nav a {
  text-decoration: none;
}
.nav a:hover {
  color: #FFA919 !important;
}
.footer a:hover {
  color: #FFA919 !important;
}
.brand {
  position: absolute;
  left: 50%;
  margin-left: -50px !important;  /* 50% of your logo width */
  display: block;
}
.jumbotron-container{
  background-image: url("https://static.pexels.com/photos/36090/pexels-photo.jpg") ;
  background-size: cover;
  background-position: center;
}
.jumbotron {
  color: white;
  text-shadow: 0 1px 0 black;
}
.thisWeekConcerts{
  padding-bottom: 40px;
}
.footer li{
  list-style: none;
}
.footer a{
  color: inherit;
  text-decoration: none;
}
#map {
  height: 400px;
  width: 100%;
}

.tile-container {
  padding: 16px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow:hidden;
  background-color: #1A0C25;
}
.tile-container a{
  color:white;
  text-decoration: none;
}
.tile-content {
  font-weight: 300;
  height: 180px;
  overflow:hidden;
  text-shadow: 0 1px 0 black;
}
.tile-title{
	font-size: 20px;
	font-weight: 500;
  overflow:hidden;
  height: 50px;
}
.tile-description{
  height: 80px;
  overflow:hidden;
}

/* Sticky footer*/
html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 180px;
}
footer {
  color: white;
  background-color: #1D0033;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 160px;
}
.joining-button{
  border-style: none;
  margin-top: 30px;
  background-color: red;
  width: 365px;
  height: 60px;
  font-size: 30px;
}

#you-in{
  background-color: #14CC5C;
  width: 100%;
  height: 60px;
  color: white;
  text-align: center;
  font-size: 30px;
  margin-top: 5px;
  padding-top: 5px;
}
.joining-button:hover{
  background-color: #D01031;
}
.joining-button:focus{
  background-color: #D01031;
}
.attendees-container{
  overflow: hidden;
  margin-left: 10px;

}
.attendees-container p{
  text-align: center;
  }

/* Layer for readibility */
.layer {
    background-color: rgba(29, 0, 51, 0.5);

}
